<div *ngIf="cliente">

    <h2>{{cliente.nome}} Detalhes</h2>
    <div><span>nome: </span>{{cliente.nome}}</div>
    <div><span>data: </span>{{cliente.data}}</div>
    <div><span>email: </span>{{cliente.email}}</div>
    <div><span>endereço: </span>{{cliente.endereco}}</div>
    <div>
      <label>nome:
        <input [(ngModel)]="cliente.nome" placeholder="nome"/>
      
      </label>
      <br>
      <label>data de nascimento:
        <input [(ngModel)]="cliente.data" placeholder="data de nascimento"/>
        
      </label>
      <br>
      <label>email:
        <input [(ngModel)]="cliente.email" placeholder="email"/>
      
      </label>
      <br>
      <label>endereço:
        <input [(ngModel)]="cliente.endereco" placeholder="endereco"/>
        
        
      </label>
      <br>
      <button (click)="save()">save</button>
    </div>
    <br>
  </div>
  <button (click)="goBack()">go back</button>